<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="footerLight" th:remove="tag">
    <!-- Footer -->
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; <span th:text="${#dates.year(#dates.createNow())}">2019</span> <a href="https://www.kevinroberts.us" class="font-weight-bold ml-1" target="_blank">Shrinkly.net</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a th:href="@{/policy}" class="nav-link">Terms of use</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.kevinroberts.us" class="nav-link" target="_blank">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/reportAbuse}" class="nav-link">Report abuse</a>
                    </li>
                    <li class="nav-item">
                        <a href="/privacy" class="nav-link">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script th:src="@{/resources/js/pwstrength-bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/qrcode.min.js}"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SVJ5Z6"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</div>

</body>
</html>