<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <noscript th:replace="fragments/header :: head" />
</head>
<body class="bg-default">


<!-- Main content -->
<div class="main-content">
    <div th:replace="fragments/header :: topnav(version='navbar-dark',enableMobileMenu=true)"/>

    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <h1 th:text="#{message.resetPassword}">reset</h1>
                        <br/>

                        <form action="#">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email" th:text="#{label.user.email}">email</label>
                                        <input class="form-control" id="email" name="email" type="email" value="" required="required" />
                                    </div>
                                </div>
                            </div>
                            <button id="submitBtn" class="btn btn-primary" type="submit" th:text="#{message.resetPassword}">reset</button>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <a th:href="@{/login}" class="text-light"><small>Back to login</small></a>
                    </div>
                    <div class="col-6 text-right">
                        <a th:href="@{/registration}" class="text-light"><small>Create new account</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/footerDarkBg :: footerDark"/>

<script th:inline="javascript">
  var serverContext = '/';

  $(document).ready(function () {
    var ajaxBusy = false;

    $(document).ajaxStart( function() {
      ajaxBusy = true;
      $("#submitBtn").prop('disabled', true);
    }).ajaxStop( function() {
      ajaxBusy = false;
      $("#submitBtn").prop('disabled', false);
    });

    $('form').submit(function(event) {
      resetPass(event);
    });
  });

  function resetPass(event) {
    event.preventDefault();
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword", {email: email}, function(data){
      window.location.href = serverContext + "login?message=" + data.message;
    })
      .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1) {
          window.location.href = serverContext + "emailError.html";
        } else {
          window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
      });
  }

</script>

</body>
</html>
