<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <noscript th:replace="~{fragments/header :: head}" />
</head>
<body class="bg-default">
<div class="main-content">
    <div th:replace="~{fragments/header :: topnav(version='navbar-dark',enableMobileMenu=true)}"/>

    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <h1 class="text-white">Invitation invalid or expired</h1>
                        <p class="text-lead text-light">
                            This invitation link is no longer valid. Invitations expire after 24 hours.
                            Please ask an administrator to send a new invitation.
                        </p>
                        <a th:href="@{/}" class="btn btn-neutral my-4">Go to home</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footerDarkBg :: footerDark}"/>
</body>
</html>
