<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <noscript th:replace="fragments/header :: head" />
</head>
<body class="bg-default">


<!-- Main content -->
<div class="main-content">
    <div th:replace="fragments/header :: topnav(version='navbar-dark',enableMobileMenu=true)"/>

    <div class="header bg-gradient-primary py-7 py-lg-8">
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>

    <!-- Page content -->
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8">
                <div class="card bg-secondary shadow border-0">
                    <div class="card-body px-lg-5 py-lg-5">
                        <h1 class="alert alert-info" th:text="#{message.regSucc}">success</h1>
                        <br/>
                        <span th:if="${param.token != null}" th:text="#{token.message}">token</span>
                        <span th:text="${param.token}">token</span>
                        <a th:href="@{/login}" th:text="#{label.login}">login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/footerDarkBg :: footerDark"/>


</body>
</html>
